<%= form_for(@newPost, :class => "form-group form") do |f| %>
    <center>
        <div class="panel panel-default">
          <div class="panel-body row">
              <div class="col-sm-1">
                  <img src="/avatar2.png" class="rounded-image" width="35px" height="35px">
              </div>
              <div class="col-sm-11">
                <div class="field">
                    <%= f.text_field :content, autofocus: true, :class => "form-control", placeholder: "What are you thinking" %>
                </div>
                <div class="actions">
                    <%= f.submit "Tweet", :class => "btn btn-danger", :style => "float:right; margin-top:10px" %>
                </div>
              </div>
          </div>
        </div>
    </center>
    <br />
<% end %>


