 <div class="col-xs-6">
    <% for post in @posts %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= post.content %></p>
      </div>
    </div>
    <% end %>
</div>