<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Status</p>
          </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Trends</p>
            </div>
        </div>
    </div>
    
    <div class="col-xs-6">
      <% for post in @posts %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= post.content %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>About</p>
          </div>
        </div>
    </div>
</div>
