<div class="panel panel-default">
    <div style="color:grey;" class="panel-body">
        <h3>Trends</h3>
        <a href="#" style="font-size:125%">Trend #1</a><br>
          <p style=" opacity:0.7">25.3k</p>
        <a href="#" style="font-size:125%">Trend #2</a><br>
          <p style=" opacity:0.7">19.7k</p>
        <a href="#" style="font-size:125%">Trend #3</a><br>
          <p style=" opacity:0.7">14.3k</p>
        <a href="#" style="font-size:125%">Trend #4</a><br>
          <p style=" opacity:0.7">5.2k</p>
    </div>
</div>